name: Main Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read
  packages: write
  pull-requests: write

jobs:
  pipeline:
    uses: bizmatters/ci-workflow-templates/.github/workflows/service-pipeline.yml@main
    secrets: inherit  # Inherits org-level AGE_PRIVATE_KEY
    with:
      service_name: identity-service
      namespace: platform-identity
